@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form asp-action="AdminRegister" asp-controller="admin">
        <input type="email" placeholder="admin mail" name="AdminMail" />
        <input type="password" placeholder="******" name="AdminPassword" />
        <input id="secretKey" name="AdminSecretKey" type="text" placeholder="AdminSecretKey ">
        <input type="submit" value="REGİSTER" >
    </form>
}
<script>
    function generateSecretKey() {
  // SecretKey için kullanılacak karakterler
  var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@@#$%^&*()_+-=[]{}|;':,.<>?";
  var secretKey = "";

  // 32 karakterli bir SecretKey oluşturun
  for (var i = 0; i < 32; i++) {
    secretKey += chars.charAt(Math.floor(Math.random() * chars.length));
  }

  // Oluşturulan SecretKey'i textarea içine yazın
  document.getElementById("secretKey").value = secretKey;
}

// Sayfa yüklendiğinde SecretKey'i oluşturun
window.onload = function() {
  generateSecretKey();
};

</script>
