@model shortenyour.link.Models.Link
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="text-center">
    <h2>@TempData["Message"] @TempData["MoneyRequestResult"]</h2>
    <form method="post" asp-controller="home" asp-action="Index">
        <input type="url" name="originalUrl" />
        <input type="submit" value="KISALT" />
    </form>
    <div id="shortedUrl">KISALTILMIŞ LİNK : https://www.shortenyour.link/@ViewData["ShortedLink"]</div>
</div>
